# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repo\diff_tester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
